extends inc/_layout.jade

append css
	link(rel="stylesheet", href="css/login.css")

block content
	.container--login
		header(role="banner")
			.logo.logo--login
		main(role="main")
			.login
				form.form.form-login
					.form-group
						input.form-control(type="email", placeholder="Email Address", required)
					.form-group
						input.form-control(type="password", placeholder="Password", required)
					.form-group.form-group--btn
						button.btn(type="submit") Login
					.form-group.align-center
						p Not a member? <strong><a href="register.html">Register Now</a></strong>




