extends inc/_layout.jade

block title
	title Listing
	style
		| body {background-color: #f2f3f0}

block content
	include inc/_header.jade

	main.main--manage(role="main")

		include inc/_account-tab.jade

		.manage
			.container

				form.form.form--manage(id="form-password")

					.form-group
						label.control-label(for="old-password") Old password
						input.form-control(id="old-password", type="password")

					.form-group
						label.control-label(for="new-password") New password
						input.form-control(id="new-password", type="password")

					.form-group
						label.control-label(for="confirm-new-password") Confirm new password
						input.form-control(id="confirm-new-password", type="password")

					.form-group.form-group--btn
						button.btn(type="submit") Save Changes















