header.header(role="banner")
	.container
		.logo
		nav.nav(role="navigation")
			ul
				li
					a.current(href="#") Deals
				li
					a(href="#", id="upgrade") Upgrade
				li
					a(href="#") Analytics
				li
					a(href="#") Norfolk
