header.header(role="banner")
	.container
		.logo
		nav.nav(role="navigation")
			ul
				li
					a.nav--upgrade(href="#", id="upgrade") Upgrade
				li
					a(href="#") Analytics
				li
					a(href="#") Account
